body {
    background: linear-gradient(120deg, #fff 0%, #fff 100%)
}

.container {
    background-color: white;
    text-align: center;
    /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58); */
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    width:100%;
    height:auto;
    
}

.card {
    border: none
}

.profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%
}

.second {
    border-left: 2px dotted lightgrey;
    border-right: 2px dotted lightgrey
}


/* sect two */

.column {
    float: left;
    width: 50%;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;

  }

  
  .row {
    display: flex;
    margin-Left:10rem;
    text-align: justify;

  }
  

  .row2 {
    display: flex;
    background-color:#222222;
    width: 100% !important;
    color: white !important;
  }
  .row3 {
    display: flex;
    background-color:#fff8f5;
    width: 100% !important;
  }



  .footer_row {
    display: flex;
    background-color:#120e0d;
    width: 100% !important;
    margin-top:20%;
  }

 
  .column {
    flex: 50%;
  }
  .amazing{
    font-size:40px !important;
    font-weight:bold !important;
    color:#393655 !important;
    margin-right:6rem !important;
    margin-top:1rem;
  }

   .amazing2{
    font-size:40px !important;

    font-weight:bold !important;
    color:#393655 !important;
    margin-top:1rem;

  }

  .feedback{
    font-size:10px !important;
    /* font-weight:bold !important; */
    color:#393655 !important;
    margin-right:1rem !important;
    margin-top:1rem;
  }
  .amazingExperience{
    color:white;
    text-align: justify;
    font-size: 34px;
    font-weight: bold;

  }
  .customer1{
    border-radius: 7px;
    text-align: center;
    width: 150px;
    height: 60px;
    background-color:burlywood;
  }
  
  .amazingExperience1{
    color:black;
    text-align: justify;
    font-size: 34px;
    font-weight: bold;

  }
  .customer{
    border-radius: 7px;
    text-align: center;
    width: 150px;
    height: 60px;
    background-color:burlywood;
  }
  


  .feedbackAmazingExperience{
    font-size:20px !important;
    font-weight:bold !important;
    color:#fff !important;
    margin-right:1rem !important;
    margin-top:1rem;
  }

   .feedback2{
    font-size:10px !important;

    font-weight:bold !important;
    color:#393655 !important;
    margin-top:1rem;
    margin-right:7rem !important;
  }
.form{
  background-color: darkgrey;
  width:90%;
  height:5rem;
  margin-top: 3rem;
}
input{
  margin-top:1rem;
   width:100%;
   height:2rem;
   margin-right:3rem;
   border-radius:3px;
 
}
.btn{
  background-color: #fff;
  text-transform: uppercase;
  margin-top:0.4rem;
  color:black;
  width:80%;
  height:3rem;
  border-radius:4px;

}
#customer{
 color:blue;
 text-transform: uppercase;
 background-color: aqua;
 border-radius: 5px;
 float:left;
}
#vendor{
  color:green;
  text-transform: uppercase;
  background-color: aqua;
  border-radius: 5px;
  float:right;
}




  .footer_column {
    float: left;
    width:20%;
    background-color:#120e0d;
    color:#ffff;
    height: 400px;
    padding-top:8rem;
  }
  
  /* Clear floats after the columns */
  .footer_row2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer_column .social{
      float: left;
      width: 10%;
      height: 10%;
      justify-content: center;
  }
  
  .footer_row_social:after {
    content: "";
    display: table;
    clear: both;
  }
  .text{
      text-align:right;
      justify-content: right;
  }
#comMember{
  float: right;
  height: auto;
}
  .member{
    text-align:right;
    font-weight: bold;
    font-size: 33px;
    color: #fff;
  }
  .feedback3{
    color: white;
    text-align: justify;
  }
 

@media only screen and (max-width: 600px) {
    .second {
        border: none;
        border-top: 2px dotted lightgrey;
        margin-top: 25px
    }

    .third {
        border-top: 2px dotted lightgrey;
        margin-top: 25px;
    }

    .icon {
        margin-top: 20px;
        top: 0;
    }




    
    


.fa-quote-left:before {
    font-size: 7px;
    color: orangered;
    position: relative;
    bottom: 5px;
}



.intro {
    font-size: 11px;
    margin-left: 13px;
    position: relative;
    bottom: 8px
}

.row {
    padding-bottom: 53px;
}


.company {
    position: absolute;
    bottom: -42px
}

.fa-amazon:before {
    content: "\f270";
    font-size: 23px
}

.icon {
    margin-bottom: 15px;
    position: relative;
    bottom: 20px
}

.header {
    padding-top: 35px;
    padding-bottom: 50px
}

}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    
    .footer_column {
        width: 100%;

}
}


